body {
	background-color: #E9E8E8;
	color: rgb(30, 30, 30);
	font-family: Courier;
	font-size: 18px;
	}
	h1, h2, h3 {
		font-family: 'Merriweather', serif;
	}
	h1 {
		color: #00425A;
		font-weight: 100;
		letter-spacing: 5px;
		font-size: 50px;
		text-transform: uppercase;
	}

	h2 {
		color: #1F8A70;
		font-size: 30px;
		font-weight: lighter;

	}
a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: red;
	font-size: 16px;
	font-weight: bold;
}
a:hover {
	color: #F99417;
}

div {
	background: white;
	border: 2px solid black;
	margin: 40px auto;
	border-radius: 5px;
	box-shadow: 4px 4px 5px darkgrey;
	padding: 15px;
	text-align: center;
	
}
.img-circle {
	border-radius: 50%;
}

.container {
  width: 80%; /* ou une autre largeur de votre choix */
  margin: 0 auto; /* centre horizontalement la boîte */
}
h1, img, p {
  text-align: center; /* centre horizontalement le contenu */
}

@media (max-widht: 500px) {
 .container{
 	width: 400px;
 }
}
@media (max-widht: 720px) {
 .container{
 	width: 600px;
 }

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

.btn-blue {
	background-color: blue;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
}